/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

#setupButton {
	-fx-padding: 5;
	-fx-font-size: 24px;
	-fx-graphic: url("../images/setup.png");
}

#startButton {
	-fx-padding: 5;
	-fx-font-size: 24px;
	-fx-graphic: url("../images/start.png");
}

#switchToOutputButton {
	-fx-padding: 5;
	-fx-graphic: url("../images/arrow_right.png");
}

#switchToInputButton {
	-fx-padding: 5;
	-fx-graphic: url("../images/arrow_left.png");
}